<div class="container">
  <div class="subscription-banner">
    <h1>SUBSCRIPTION BUSINESS MADE EASY</h1>
    <h3>
      We teamed up with Amazon to make recurring billing a breeze for you
    </h3>
  </div>
  <div class="banner-center">
    <div class="plus-icon-row">
      <h2 class="text chargebee">Chargebee</h2>
      <span class="img">
        <img src="../images/banner-image@2x.png" alt="banner-image" class="plus-icon" />
      </span>
      <h2 class="text amazon">Pay with amazon</h2>
    </div>

    <button class="btn signup">
      <span>
        SIGNUP & EXPLORE NOW
      </span>
    </button>

    <h5 class="sub-text">
      Neatly integrated experience.<br />
      See how it works
    </h5>

    <img src="../images/banner-arrow@2x.png" alt="arrow" class="chevron-circle" />
  </div>
</div>
