<div class="container recurring">
  <div class="row">
    <div class="col-md-7">
      <div class="recurring-title">
        RECURRING BILLING DONE RIGHT
      </div>
      <div class="recurring-descp">
        We’ve built the best practices required for every billing model
      </div>
      <br />
      <ul class="fa-ul">
        <li>
          <span class="fa-li"><i class="fa fa-check"></i></span>
          <span class="list-title">
            FLEXIBLE PRICING
          </span>
          <br />
          <span class="list-descp">
            Price your offering the way you want to, with flexible billing periods & addons
          </span>
        </li>
        <li>
          <span class="fa-li"><i class="fa fa-check"></i></span>
          <span class="list-title">
            AUTO INVOICING
          </span>
          <br />
          <span class="list-descp">
            Every time a charge is made branded invoice is sent to your customers inbox
          </span>
        </li>
        <li>
          <span class="fa-li"><i class="fa fa-check"></i></span>
          <span class="list-title">
            EMAIL NOTIFICATIONS
          </span>
          <br />
          <span class="list-descp">
            Send automated emails to deliver value throughout your customer lifecycle.
          </span>
        </li>
        <li>
          <span class="fa-li"><i class="fa fa-check"></i></span>
          <span class="list-title">
            SMART RETRY LOGIC
          </span>
          <br />
          <span class="list-descp">
            Reduce failed payments by iterating and defaulting to an ideal retry logic
          </span>
        </li>
        <li>
          <span class="fa-li"><i class="fa fa-check"></i></span>
          <span class="list-title">
            BUILT FOR TEAMS
          </span>
          <br />
          <span class="list-descp">
            Make it easy for your team members to access information using role based access
          </span>
        </li>
        <li>
          <span class="fa-li"><i class="fa fa-check"></i></span>
          <span class="list-title">
            POWERFUL INTEGRATIONS
          </span>
          <br />
          <span class="list-descp">
            Do more with apps and services that give you extra features and smart automation
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-5 reviews">
      <div class="review-title">
        Some of our fantastic customers
      </div>

      <div class="review-clients">
        <div class="review-box">
          <div class="descp">
            ChargeBee solves a very tough problem well. I couldn't imagine another service fulling all our needs and doing it so well.
            <div class="tilt"></div>
          </div>
          <div class="company">
            <img src="../images/holstee-logo@2x.png" alt="holstee" />

            <div class="descp">
              <span class="title">Thomas Reggi</span>
              <br />
              <span class="site">holstee.com</span>
            </div>
          </div>
        </div>
        <div class="review-box">
          <div class="descp">
            After switching to ChargeBee, it has been much simpler to manage and set up is a breeze. I absolutely love the software and well worth the
            money
            <div class="tilt"></div>
          </div>
          <div class="company">
            <img src="../images/integratedhealth-logo@2x.png" alt="holstee" />

            <div class="descp">
              <span class="title">Sunil</span>
              <br />
              <span class="site">integratedhealth.us/</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
