<div class="customer-box">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="checkout-box">
          <img src="../images/checkout@2x.png" alt="checkout" class="checkout-img" />
          <div class="checkout-circle"></div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="customer-text">
          <span class="customer-text-1"> CUSTOMER <br />PORTAL </span>
          <br />
          <span class="customer-text-2">
            Go a step further and let your customers <br />
            be in charge of theri subscriptions
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
